<a href="https://colab.research.google.com/github/MDSHAHBAZALAM786/Colab-Notebook/blob/main/Python_session_2_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
ctc = float(input("Enter your CTC(in Lakhs per annum): "))
ctc_rup = ctc*100000
hra = ctc_rup*0.10
da = ctc_rup*0.05
pf = ctc_rup*0.03

if ctc<5:
  tax_rate = 0
elif ctc>=5 and ctc<10:
  tax_rate = 0.10
elif ctc>=10 and ctc<20:
  tax_rate = 0.20
else:
  tax_rate = 0.30

tax = tax_rate*ctc_rup

total_deduction = hra+da+pf+tax

in_hand_annual = ctc_rup-total_deduction

in_hand_monthly = in_hand_annual/12

print("In-hand Monthly Salary: ",in_hand_monthly)

Enter your CTC(in Lakhs per annum): 5
In-hand Monthly Salary:  30000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
a = int(input("Enter the first angle: "))
b = int(input("Enter the second angle: "))
c = int(input("Enter the third angle: "))
if a+b+c == 180:
  print("It can form a triangle")
else:
  print("It can not form a triangle")

Enter the first angle: 60
Enter the second angle: 50
Enter the third angle: 70
It can form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cp = float(input("Enter the cost price: "))
sp = float(input("Enter the selling price: "))
if sp>cp:
  print("It is a profit")
else:
  print("It is a loss")

Enter the cost price: 200
Enter the selling price: 300
It is a profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
while True:
  print("""
  1. Convert cm to ft
  2. Convert km to miles
  3. Convert USD to INR
  4. Exit
  """)
  choice = int(input("Enter your choice: "))
  if choice == 1:
    cm = float(input("Enter the value in cm: "))
    ft = cm/30.48
    print("Value in ft: ",ft)
  elif choice == 2:
    km = float(input("Enter the value in km: "))
    miles = km*0.621371
    print("Value in miles: ",miles)
  elif choice == 3:
    usd = float(input("Enter the value in USD: "))
    inr = usd*82.4
    print("Value in INR: ",inr)
  elif choice == 4:
    print("Exit")
    break
  else:
    print("Invalid choice! Please enter 1, 2, 3, or 4.")

  1. Convert cm to ft
  2. Convert km to miles
  3. Convert USD to INR
  4. Exit

Enter your choice: 1
Enter the value in cm: 100
Value in ft:  3.2808398950131235

  1. Convert cm to ft
  2. Convert km to miles
  3. Convert USD to INR
  4. Exit

Enter your choice: 2
Enter the value in km: 200
Value in miles:  124.27420000000001

  1. Convert cm to ft
  2. Convert km to miles
  3. Convert USD to INR
  4. Exit

Enter your choice: 3
Enter the value in USD: 85
Value in INR:  7004.000000000001

  1. Convert cm to ft
  2. Convert km to miles
  3. Convert USD to INR
  4. Exit

Enter your choice: 5
Invalid choice! Please enter 1, 2, 3, or 4.

  1. Convert cm to ft
  2. Convert km to miles
  3. Convert USD to INR
  4. Exit

Enter your choice: 4
Exit

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
a=0
b=1
count=0
print("Fibonacci series up to 10 terms:")
while count<10:
  print(a, end=" ")
  c=a+b
  a=b
  b=c
  count+=1

Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
    factorial *= i
   print("The factorial of", num, "is", factorial)

Enter a number: 5
The factorial of 5 is 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
num = int(input("Enter an integer: "))
reverse_num = 0
while num != 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num //= 10

print("Reversed number:", reverse_num)

Enter an integer: 12345
Reversed number: 54321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [4]:
# Write code here
N = int(input("Enter N: "))

total = 0
num = 1

while num <= N:
    if num % 5 != 0:
        if total + num > 300:
            break
        total += num
    num += 1

print(total)

Enter N: 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here